:root {
    /* 배경색 */
    --bg-card : #ffffff;
    --bg-table-header: #f8f9fa;

    /* 텍스트 및 버튼 */
    --text-on-dark: #f0f8ff;
    --btn-bg: #01142b;

    /* 경계선 */
    --border-subtle: #dddddd;

    /* 그림자 */
    --shadow-box: rgba(0, 0, 0, 0.05);

}
.expense-table-container{
    margin: 1rem 5rem;
    padding: 1.25rem;
    border-radius: 12px;
    background-color: var(--bg-card);
    box-shadow: 0 2px 8px var(--shadow-box) ;
}

.table-control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.control-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: var(--btn-bg);
    color: var(--text-on-dark);
    border-radius: 6px;
    font-weight: bold;
}

.expense-table{
    width: 100%;
    background-color: var(--bg-card);
    border-collapse: collapse;
}

.expense-table thead,
.expense-table tfoot {
  background-color: var(--bg-table-header); 
}

.expense-table th,
.expense-table td {
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid var(--border-subtle);
}